.page {

    &__container {
        margin-bottom: 15px;
    }

    &__selected {
        border: 1px solid lightgray;
        border-radius: 100%;
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
        border: 2px solid gray;
        font-weight: 700;
    }

    &__btn {
        border: 1px solid #eee;
        text-transform: uppercase;
        margin: 0px 5px;
        background-color: #d13129;
        color: #eeeeee;
        padding: 3px 5px;
        border-radius: 15%;
    }

    &__item {
        border: 1px solid lightgray;
        border-radius: 100%;
        padding: 5px 10px;
        margin: 0 10px;
        cursor: pointer;
    }
}
